
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spaghetti Burgers | The taste of the world</title>
  <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/deli-very.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <script type="text/javascript" src="js/menu.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js" ></script>
  <script src="js/js_script.js" defer></script>
  <script src="js/vue_script.js" defer></script>

</head>

<body>

  <main>
    <div class="header">
      <span>
        <img  id="headerimage"src="img/header2.jpg">
        <h1 id="title"> Welcome to Spaghetti Burgers </h1>
      </span>
    </div>
  </main>

  <section id="burgerselection">
    <div class="margin">

      <h3>{{title}}</h3>
      <div>
        Select one of our delicious Burgers. <br />
        All burgers contain <span class="glulac">gluten </span>and <span class="glulac">lactose</span>. But of course you can order them
        <span class="glulac">gluten-free</span> and/or <span class="glulac">latose-free</span>. Just check the right box in the section 'Customer Information'.
      </div>
      <br>

      <div class="wrapper" >
        <div class="box" v-for="burgers in burgers">
          <div v-if="burgers.veg == true">
            {{burgers.name}}   {{vegi}}
          </div>
          <div v-else >
            {{burgers.name}}
          </div>
          <img class="burgerimage" :src="burgers.img" />
          <ul>
            <li>
              {{burgers.ing1}}
            </li>
            <li>
              {{burgers.ing2}}
            </li>
            <li>
              {{burgers.ing3}}
            </li>
            <li>
              {{burgers.ing4}}
            </li>
            <li>
              {{burgers.ing5}}
            </li>
            <li>
              {{burgers.ing6}}
            </li>
          </ul>
        </div>
        <p class="checkboxOrder">
          <input type="checkbox" id="orderGermanBurger" name="burgertype" required="required" value="The German">
          <label for="allergic">Click to order</label><br>
        </p>
        <p class="checkboxOrder">
          <input type="checkbox" id="orderDansihBurger" name="burgertype" required="required" value="The Danish">
          <label for="allergic">Click to order</label><br>
        </p>
        <p class="checkboxOrder">
          <input type="checkbox" id="orderItalianBurger" name="burgertype" required="required" value="The Italian">
          <label for="allergic">Click to order</label><br>
        </p>
        <p class="checkboxOrder">
          <input type="checkbox" id="orderAmericanBurger" name="burgertype" required="required" value="The American">
          <label for="allergic">Click to order</label><br>
        </p>
        <p class="checkboxOrder">
          <input type="checkbox" id="orderAustralianBurger" name="burgertype" required="required" value="The Australian">
          <label for="allergic">Click to order</label><br>
        </p>
      </div>

      <!--				<div class="wrapper">
      <div class="box">
      <div id="germanName">
    </div>
    <br>
    <ul id="germanBurger">
    {{name}}
    <img :src="img" />
    <li v-for= "ingredients in burgerIngredients">
    {{ingredients.text}}
  </li>
</ul>
<p class="checkboxOrder">
<input type="checkbox" id="orderGermanBurger" name="burgertype" required="required">
<label for="allergic">Click to order</label><br>
</p>
</div>
<div class="box">
<div id="danishName">
</div>
<br>
<img src="img/danish.jpg" alt="The Danish" title="The Danish" class="burgerimage"> <br><br>
<ul id="danishBurger">

</ul>
<p class="checkboxOrder">
<input type="checkbox" id="orderDansihBurger" name="burgertype" required="required">
<label for="allergic">Click to order</label><br>
</p>
</div>
<div class="box">
<div id="italianName">
</div>
<br>
<img src="img/italian.jpg" alt="The Italian" title="The Italien" class="burgerimage"> <br><br>
<ul id="italianBurger">

</ul>
<p class="checkboxOrder">
<input type="checkbox" id="orderItalianBurger" name="burgertype" required="required">
<label for="allergic">Click to order</label><br>
</p>
</div>
<div class="box">
<div id="americanName">
</div>
<br>
<img src="img/american.jpg" alt="The American" title="The American"  class="burgerimage"> <br><br>
<ul id="americanBurger">

</ul>

</ul>
<p class="checkboxOrder">
<input type="checkbox" id="orderAmericanBurger" name="burgertype" required="required">
<label for="allergic">Click to order</label><br>
</p>
</div>
<div class="box">
<div id="australianName">
</div>
<br>
<img src="img/australian.jpg" alt="The Australian" title="The Australian"  class="burgerimage"> <br><br>
<ul id="australianBurger">

</ul>
<p class="checkboxOrder">
<input type="checkbox" id="orderAustralianBurger" name="burgertype" required="required">
<label for="allergic">Click to order</label><br>
</p>
</div>
</div>

-->
</div>
</section>

<section id="customerinformation" class="margin">
  <div id="vue">
  <h3>Customer Information </h3>
  <div>
    To deliver you your burger as fast as possible we need some more informaion.
  </div>

  <form>

    <p>
      Do you have any allergies?<br>
      <input type="checkbox" id="glutenfree" name="allergic" required="required">
      <label for="allergic">Gluten-free</label><br>
      <input type="checkbox" id="lactosefree" name="allergic" required="required">
      <label for="allergic">Lactose-free</label><br>
    </p>

    <p id="gender">
      Your Gender: <br>
      <input type="radio" id="male" name="gender" value="male" required="required" checked="checked">
      <label for="male">Male</label> &emsp;
      <input type="radio" id="female" name="gender" value="female" required="required">
      <label for="female">Female</label> &emsp;
      <input type="radio" id="unknown" name="gender" value="unknown" required="required">
      <label for="unknown">Do not want to provide</label> &emsp;
    </p>
    <p>
      <label for="name">Full name</label><br>
      <input type="text" id="name" name="n" required="required" placeholder="First & Last name">
    </p>

    <div class="view-box">
      <div id="dots" v-on:click="displayOrder">
          <div
            v-bind:style="{ left: position.x + 'px', top: position.y + 'px'}">
            T
          </div>
      </div>
    </div>

<!-- Adress text fields
    <p>
      <label for="street">Street</label>  &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
      <label for="housenumber">House number</label><br>
      <input type="text" id="street" name="s" placeholder="Street"> &emsp;
      <input type="number" id="housenumber" name="hn" required="required" placeholder="House number">
    </p>
    <p>
      <label for="postalcode">Postal code</label>&emsp; &emsp;&emsp;&emsp;&ensp;
      <label for="city">City</label><br>
      <input type="number" id="postalcode" name="pc" required="required" placeholder="Postal code"> &emsp;
      <input type="text" id="city" name="c" required="required" placeholder="City">
    </p>
  -->

    <p>
      <label for="email">E-mail</label><br>
      <input type="text" id="email" name="em" required="required" placeholder="E-mail">
    </p>

    <p>
      <label for="payment">Payment</label><br>
      <select id="payment" name="pm">
        <option>VISA</option>
        <option>MasterCard</option>
        <option>PayPal</option>
        <option>Cash</option>
      </select>
    </p>
  </form>

  <div id="custInfo">
    <button v-on:click="addOrder" type="submit" id="order"><img class="button" src="img/lieferung.png"> Order now</button>
    <br><br>
    {{gender}}
    <br>
    {{name}}
    <br>
    <!--
    {{address}}
    <br> -->
    {{email}}
    <br>
    {{allergies}}
    <br>
    {{payment}}
    <br>
    {{burgers}}
  </div>
</div>
</section>


<br><br>
<footer>&copy; Spaghetti Burgers | Interfaceprogramming with a User Perspective | Julia von Abel</footer>
</body>
</html>
